.Upload {
  /* background-color: rgba(235, 235, 205, 0.753); */
  background-color: rgba(230, 229, 228, 0.836);
  width: 100%;;
  max-width: 100%;
  margin: 10px 0;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
img.photo {
  /* margin: 10px 2.5%; */
  margin-bottom: 0;
}
.upload_title {
  min-height: 65px;
  background-color: rgba(245, 82, 82, 0.842);
  /* background-color: white; */
  text-align: left;
  padding: 10px 12px;
  /* background-color: rgb(60, 211, 105); */
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-content: center;
  align-items: center;
  /* padding-left: 10px; */
  margin-bottom: 10px;
}
.upload_title.clear {
  background-color: rgb(29, 212, 121);
}
.upload_title > button {
  color: white;
  max-width: 75%;
  text-overflow: ellipsis;
  overflow: hidden;
}
.title_buttons {
  display: flex;
}
.upload_msg {
  min-height: 30px;
  width: 90%;
  /* border-radius: 10px; */
  background-color: transparent;
  background-color: white;
  text-align: left;
  padding: 10px 12px;
  margin-top: 10px;
}
.photos {
  background-color: transparent;
  /* background-color: salmon; */
  padding: 20px 0;
}
.title_buttons > button {
  border: none;
  border-radius: 10px;
  background-color: transparent;
  padding: 15px;
}

.title_buttons > button:hover {
  background-color: rgba(137, 138, 132, 0.137);
}
.upload_body {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  width: 100%;
}
.Notelist.hidden, .hidden {
  display: none;
}